@import "./styling/auth.css";
@import "./styling/navigation.css";
@import "./styling/homepage.css";
@import "./styling/calendar.css";
@import "./styling/chores.css";
@import "./styling/progress.css";
@import "./styling/rewards.css";
@import "./styling/toast.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f5f5f5; */
  letter-spacing: 1.5px;
}

#root {
  width: 100%;
  min-height: 100vh;
}

:root {
  --bg: #ffffff;
  --surface: #f2f2ffab;
  --border: #cdede192;

  --text: #1f2937;
  --muted: #6b7280;

  --accent-1: #ff6bbf; /* röd/rosa */
  --accent-2: #f4fa84; /* gul */
  --accent-3: #57d2a5; /* grön */
  --accent-4: #9bc7fc; /* blå  */
  --accent-5: #9d82ed; /* lila */
}
/* Loading States */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.spinner {
  font-size: 1.2rem;
  color: #777;
}
h1 {
  text-transform: capitalize;
}

.logo-icon {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.logo-icon img {
  max-height: 3.5rem;
  margin-right: 1.5rem;
}
/* Alerts */
.alert {
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.alert-error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}
