/* Navbar-component-styling */
.main-nav {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  justify-self: center;
  width: 90vw;
  border-radius: 20px;
  background-color: #dddd61;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}

.nav-button {
  background-color: #fefefa;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
  border: none;
  border-radius: 0;
}

.nav-button > img {
  max-height: 2rem;
}
.nav-button:hover {
  background-color: #caf5e28e;
}
