/* Navbar-component-styling */
.main-nav {
  background-color: #fefefa;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  width: min(99vw, 720px);
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}

.nav-button {
  background-color: transparent;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.nav-button > img {
  max-height: 2rem;
}
.nav-button:hover {
  background-color: #caf5e28e;
}
